management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: apiwithjenkins
  prometheus:
    metrics:
      export:
        enabled: true

spring:
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    driver-class-name: org.postgresql.Driver
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379
      password: admin
      database: 0

  cache:
    type: redis


logging:
  pattern:
    console: "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%X{traceId}:%X{spanId}] %X{user} %X{method} %X{route} - %msg%n"


otel:
  sdk:
    disabled: false
  metrics:
    exporter: none
  logs:
    exporter: none
  traces:
    exporter: none
server:
  port: 8087
